Packages/*
LatestBuild
*.deb
Working/

Concepts/

XenHTML.dylib
XenHTML.mm
Preferences/Package/Library/PreferenceBundles/XenHTMLPrefs.bundle/XenHTMLPrefs
Tweak/Package/Library/PreferenceBundles/XenHTMLPrefs.bundle/XenHTMLPrefs
*.dylib
Helpers/BatteryManager/BatteryManager/BatteryManager.mm
Helpers/WebGL/WebGL/WebGL.mm
Helpers/WidgetInfo/WidgetInfo/WidgetInfo.mm
Deploy/Package/Library/Application Support/Xen HTML/Setup UI/*
Deploy/Package/Library/LaunchDaemons/com.matchstic.widgetinfod.plist
Deploy/Package/Library/Application Support/Widgets/libwidgetinfo.js
Deploy/Package/usr/bin/widgetinfod
Deploy/Package/Library/PreferenceBundles/XenHTMLPrefs.bundle/XenHTMLPrefs
Helpers/WidgetInfo/WidgetInfo/WidgetInfo.mm
