Packages/*
LatestBuild
*.deb
Working/

Concepts/

XenHTML.dylib
XenHTML.mm
Preferences/Package/Library/PreferenceBundles/XenHTMLPrefs.bundle/XenHTMLPrefs
Tweak/Package/Library/PreferenceBundles/XenHTMLPrefs.bundle/XenHTMLPrefs
