:root {
    --card-height: 76px;
    --horizontal-spacing: 12px;
    --color: #111;
    --backdrop-background: rgba(255, 255, 255, 0.47);
    --backdrop-blur: 30px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #eee;
        --backdrop-background: rgba(50, 50, 50, 0.60);
    }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    padding: 0 6px;
    font-size: 14px;
    color: var(--color);
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.backdrop {
    border-radius: 12.5px;
    background-color: var(--backdrop-background);
    -webkit-backdrop-filter: blur(var(--backdrop-blur));

    position: absolute;
    width: calc(100% - var(--horizontal-spacing) * 2);
    height: 100%;

    top: 0;
    left: var(--horizontal-spacing);
    z-index: -2;
}

.card {
    border-radius: 12.5px;
    width: 100%;
    height: var(--card-height);
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.icon-outer {
    height: var(--card-height);
    width: var(--card-height);
    flex: 0 0 var(--card-height);
    padding: 12px;
    box-sizing: border-box;
}

.icon-outer img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    opacity: 0.25;
}

.icon-outer .content {
    opacity: 1.0;
}

.details {
    flex: 1;
    height: fit-content;
    margin-left: 5px;
}

.track {
    font-size: 1.2em;
    font-weight: 450;
}

.artist, .track {
    max-width: calc(100vw - var(--card-height) - 136px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-media {
    font-size: 1.2em;
}

.artist {
    font-size: 1em;
}

.controls {
    flex: 0;
    height: 100%;
    width: fit-content;

    margin-right: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls.disabled .auxillary-control {
    pointer-events: none;
    opacity: 0.25;
}

.control {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin-left: 6px;
}