Package: com.matchstic.XenHTMLPrefs
Name: XenHTMLPrefs
Version: 1.0-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

