Package: com.matchstic.xenhtml
Name: Xen HTML
Version: 2.0~beta4
Description: Unified HTML rendering; lockscreen and homescreen
Section: System
Depends: firmware (>= 9.0), mobilesubstrate, preferenceloader, firmware (>= 11.0) | com.unlimapps.uaunbox, com.rpetrich.rocketbootstrap
Provides: com.groovycarrot.groovylock, com.bushe.lockhtml4, com.bushe.lockhtml3, com.bushe.lockhtml2, cydget, com.groovycarrot.sbhtml, com.junesiphone.xeninfo, com.modmyi.widgetweather3, com.matchstic.infostats2, com.matchstic.infostats
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
Depiction: https://xenpublic.incendo.ws/depictions/com.matchstic.xenhtml.html
SileoDepiction: https://xenpublic.incendo.ws/sileo/com.matchstic.xenhtml.json
Icon: file:///Library/PreferenceBundles/XenHTMLPrefs.bundle/IconPackageManager.png
