:root {
    --height: 216px;
    --title-height: 46px;
    --bottom-height: 62px;
    --horizontal-spacing: 12px;
    --color: #111;
    --blue-color: rgb(10, 32, 255);
    --gray-color: rgb(99, 99, 102);
    --red-color: rgb(189, 0, 0);
    --border-color: rgba(68, 68, 68, 0.15);
    --backdrop-background: rgba(255, 255, 255, 0.47);
    --backdrop-blur: 30px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #eee;
        --light-color: #ccc;
        --border-color: rgba(68, 68, 68, 0.55);
        --backdrop-background: rgba(50, 50, 50, 0.60);
        --red-color: rgb(255, 69, 58);
    }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    padding: 0 6px;
    font-size: 14px;
    color: var(--color);
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

h6 {
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 500;
}

.backdrop {
    border-radius: 12.5px;
    background-color: var(--backdrop-background);
    -webkit-backdrop-filter: blur(var(--backdrop-blur));

    position: absolute;
    width: calc(100% - var(--horizontal-spacing) * 2);
    height: var(--height);

    top: 0;
    left: var(--horizontal-spacing);
    z-index: -2;
}

.container {
    height: var(--height);
    width: 100%;

    border-radius: 12.5px;
}

.title-row {
    width: 100%;
    height: var(--title-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px var(--border-color);
}

#container {
    height: calc(var(--height) - var(--title-height));
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 6px 12px;
}

.reminder-item {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 6px 0px;
}

.reminder-item.overflowed {
    justify-content: center;
}

.reminder-item-overflow-label {
    font-weight: 500;
}

.reminder-item-toggle {
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    
    margin-right: 12.5px;
    
    border-radius: 20px;
    border: 1px solid var(--gray-color);
}

.reminder-item-toggle.completed {
    background: var(--gray-color);
}

.reminder-item-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reminder-item-title {
    font-weight: 500;
}

.priority {
    color: var(--gray-color);
    margin-right: 6px;
}

.overdue {
    color: var(--red-color);
}

.reminder-item-empty {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    
    background-color: rgba(0, 0, 0, 0.1);
}

.empty-text {
    line-height: calc(var(--height) - var(--title-height) - 12px);
    text-align: center;
    font-weight: 500;
}